{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript" src="/static/javascript/book.js"></script>
<h3 align=center> {{ book.author }} - {{ book.title }} </h2>

<ul class="pager">             
  <li><a href= "{% url 'books.views.book_id_on_page' book.id page_previous %}">Previous</a></li>
  <li><a href="{% url 'books.views.book_id_on_page' book.id page_next %}">Next</a></li>
</ul>

<div class="well span9 offset3" id="page">
    <p> {{ page|linebreaksbr }} </p>
</div>

<button class= "btn" id="quote_btn" onclick="quote({{ book.id }})">Quote</button>
<button class= "btn" id="translate_btn" onclick="translate_selection()">Translate</button>
{% endblock %}
